matplotlib==3.1.1
numpy==1.17.4
scipy==1.3.2
seaborn==0.9.0
svgutils
pandas==0.25.3
pymc3==3.7
numpy_indexed==0.3.5
pylint
xlrd
pytest
pytest-cov
pre-commit
manubot==0.2.4
pandoc-fignos
pandoc-eqnos
pandoc-tablenos
weasyprint==49
